<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <!-- Navigation-->
        <%- include('layouts/nav'); -%>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Create New Post</h1>
                            <span class="subheading">Have thougts, beliefs or ideas? Write them here.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <% if(errors != null && errors.length > 0) { %>
                            <ul class="list-group">
                            <% for (var i = 0; i < errors.length; i++) { %>
                                <li class="list-group-item list-group-item-danger"><%= errors[i] %></li>
                            <% } %>
                            </ul>
                        <% } %>
                        <div class="my-5">
                            <form action="/posts/store" method="POST"  id="contactForm" enctype="multipart/form-data">
                                <div class="form-floating">
                                    <input class="form-control" id="title" name="title" type="text" placeholder="Title  " data-sb-validations="required" />
                                    <label for="title">Title</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                </div>
                                
                                <div class="form-floating">
                                    <textarea rows="5" class="form-control" id="body" name="body" style="height: 12rem" data-sb-validations="required"></textarea>
                                    <script>
                                        $('#body').summernote({
                                        placeholder: 'Write...',
                                        tabsize: 2,
                                        height: 200
                                        });
                                        </script>
                                    <label for="body">Description</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                                </div>

                                <div class="form-floating">
                                    <div class="form-group">
                                        <input class="form-control" type="file" name="image" id="image">
                                        <label class="form-label" for="image">Image</label>
                                    </div>
                                </div>
                                <br />
                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <!-- Bootstrap core JS-->
        <%- include('layouts/scripts'); -%>
    </body>
</html>
